<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Blog</title>
    <link rel="stylesheet" href="/style/addBlog.css">
    <script src="/frameworks/vue.js"></script>
    <script src="/frameworks/axios.js"></script>
</head>

<body>
    <div id="app">
        <nav>
            <div class="logo">
                <h1>AnswerBD</h1>
            </div>
        </nav>
        <article class="container">
            <h2>একটি ব্লগ তৈরি করুন</h2>
            <div class="form-group">
                <label for="name">আপনার নাম:</label>
                <input type="text" id="name" v-model="name" placeholder="নাম">
            </div>
            <div class="form-group">
                <label for="thumb">ছবির URL:</label>
                <input type="url" id="thumb" v-model="thumb" placeholder="Paste image URL" autocomplete="off">
            </div>
            <div class="form-group">
                <label for="title">ব্লগ এর টাইটেল:</label>
                <input type="text" id="title" v-model="title" placeholder=" টাইটেল">
            </div>
            <div class="form-group">
                <label for="type">ব্লগ এর টাইপ:</label>
               <select name="" id="type" v-model="type">
                <option value="none" selected disabled> নির্বাচন করুন</option>
                <option value="health"> স্বাস্থ্য</option>
                <option value="job" > ব্যবসা</option>
                <option value="education" > শিক্ষা</option>
                <option value="story" > গল্প</option>
                <option value="other"> অন্যান্য</option>
               </select>
            </div>
            <div class="form-group">
                <label for="desc">ব্লগ :</label>
                <textarea id="desc" v-model="desc" placeholder="এখানে ব্লগ লেখুন..." rows="20"></textarea>
            </div>
            <button type="button" class="add" @click="addBlog()">Submit</button>
        </article>
    </div>
<script src="/js/addblog.js"></script>
</body>

</html>